h1 {
    font-family: 'Lobster', cursive;
    color: red;
}

body{
    background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fthumbs.dreamstime.com%2Fz%2Fbeer-seamless-texture-beer-background-beer-wallpaper-vector-illustration-76127605.jpg&imgrefurl=https%3A%2F%2Fwww.dreamstime.com%2Fstock-illustration-beer-seamless-texture-beer-background-beer-wallpaper-vector-illustration-image76127605&docid=UsZVbwXZk3OQAM&tbnid=TejFG4YMiTuGxM%3A&vet=10ahUKEwikioL4sNTlAhUun-AKHYnhDr8QMwiEAihYMFg..i&w=1300&h=1390&bih=640&biw=1517&q=beer%20wallpaper&ved=0ahUKEwikioL4sNTlAhUun-AKHYnhDr8QMwiEAihYMFg&iact=mrc&uact=8");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.form-group {
    color: blue;
}

#breweries-go-here .brewery-div    {
    border: solid black 1px;
    background-image: url("../images/beer-wallpaper.jpg");
}
#map {
    margin: auto;

    height: 300px;
    width: 300px;
    margin: auto;
    padding: 10px;

}

#breweries-go-here  {
    margin-top: 5px;
    margin-bottom: 5px;

}
.brewery    {
    margin: 5px;
}
.brw-btn    {
    color: red;
}

.map-div    {
    padding: 5px;
    height: auto;
}
.row    {
    border: solid black 1px;
    margin-left: auto;
    margin-right: auto;

}
